@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

.btnContato:hover{
    background-color: #6e3830 !important;
}

.titleHeader:hover, .contatos-wa-mail:hover{
    background-color: #cfaba6 !important;
    color: #6e3830 !important;
    text-decoration: none !important;
}

.nav-link:hover{
    background-color: #cfaba6 !important;
    color: #6e3830 !important;
}

.imgProfile{
    max-width: max-content;
}

.fa-linkedin, .fa-at, .fa-github, .fa-whatsapp{
    color: #23272b !important;
}

.fa-github:hover, .fa-at:hover, .fa-linkedin:hover, .fa-whatsapp:hover {
    color: #6e3830 !important;
}

.github:hover, .linkedin:hover, .mail:hover{
    background-color: #A9675E;
}
