@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

body
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #1e1e2a;
}

.header-container
{
    height: 100vh;
    width: 100vw;
    background-color: #A9675E;
    background-image: url('./Img/5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 112px;
    position: relative;
}

h1
{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2
{
    font-size: 50px;
    letter-spacing: 4px;
}

.social-media
{
    margin-top: 1rem;
    display: flex;
}

.social-media a
{
    color: #1e1e2a;
    text-decoration: none;
    padding: 1rem 4rem;
    border: 1px solid #1e1e2a;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

a:hover{
    background-color: #ffffffff;
}

.checkbox-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox
{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
    display: flex;
    justify-content: center;
    transition: 400ms ease-in-out 0;
}

.checkbox .trace
{
    width: 50px;
    color: #1e1e2a;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    border: solid;
}

.checkbox .trace:nth-child(1)
{
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2)
{
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3)
{
    top: 66px;
    transform: rotate(0);
}

#toggle
{
    display: none;
}

/* MENU */
.menu
{
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #A9675E;
    z-index: -1;
    transition: 400ms ease-in-out 0;
}

.menu-items
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0;
}

.menu-items ul
{
    list-style-type: none;
}

.menu-items ul li a
{
    margin: 10px 0;
    color: #1e1e2a;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1)
{
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2)
{
    transform: rotate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3)
{
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox
{
    background-color: #A9675E;
}

/* selector ~ pegar todos os itens abaixo */

#toggle:checked ~ .menu
{
    box-shadow: 0px 0px 0px 100vmax #A9675E;
    z-index: 1;
}

#toggle:checked ~ .menu-items
{
    visibility: visible;
    opacity: 1;
}

/* CARDS */

.container
{
    height: auto;    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

 .card-container
{   
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card
{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('./Img/lupa2-1.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #A9675E;
    filter: grayscale(0.5);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: #1e1e2a;
}

.card-text
{
    width: 40%;
    letter-spacing: 1px;
    color: rgb(109, 109, 109);
}

.card-sobre
{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before
{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
    border: 1px solid #ffffffff;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2
{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p
{
    font-size: 0;
    visibility: visible;
    opacity: 0;    
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover
{
    filter: unset;
}

/* seletor > pega o filho */

.card:hover > .card-wrapper::before
{
    width: 275px;
    height: 275px;
    opacity: 1; 
}

.card:hover .card-wrapper p
{
    opacity: 1; 
    visibility: visible;
    font-size: 14px;
}

/* FOOTER */

.footer
{
    width: 100%;
    height: 100px;
    background-color: #A9675E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1e2a;
}